*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja{
    background-color:rgb(131, 206, 129);
    height: 300px;
    display: inline-block;
    width: 200px;
    margin: 15px;
}
header{
    background-color:blueviolet;
    color: aliceblue;
    
}
.logo{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.nav{
 display: inline-block;
 
 
}
.link{
    display: inline-block;
    margin: 5px;
    padding-left: 30px;
}