*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.padre{
    background-color: brown;
    width: 100vw;
    height: 500vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hijo{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.hijo:nth-child(1){
    background-color: red;
    position: sticky;/* cuando llega a los 40px de top se frena */
    top: 40px;
}
.hijo:nth-child(2){
    background-color: yellow;
    position: relative;
    bottom: 50px;
    left: 50px;/* tiene prioridad sobre right */
    top: 100px;/* tiene prioridad sobre bottom */
}
.hijo:nth-child(3){
    background-color: green;
position:fixed;
right: 80px ;
bottom: 50px; 

    z-index: 2;/* superpone la caja verde sobre la amarilla */
}
/* position absolute */
.buscador-contenedor{
position: relative;
width: 300px;
display: flex;
align-items: center;
}
input{
width: 100%;
height: 30px;
}
.lupita{
background-color: rgb(240, 18, 18);
width: 16px;
height: 16px;
border-radius: 100%;
position: absolute;
right: 10px;
}